node_modules
npm-debug.log
.DS_Store
/.env

.esm-cache

public/*
!public/robots.txt
!public/favicon.ico
!public/fonts
!public/images
!public/sitemap.xml

dist

webpack-assets.json
webpack-stats.json

logs/**

